.CISection2Container {
	display: flex;
	flex-direction: column;
	margin: 2%;
	justify-content: space-around;
	align-items: center;
}

.CISection2Content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	flex-wrap: wrap;
}

.QuotePropContainer {
	height: 270px;
	width: 300px;
	background-color: #c4c4c4;
	/* color: white; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	border-radius: 16px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	/* font-weight: bold; */
}

.QuotePropContainer a {
	display: flex;
	justify-content: center;
	text-decoration: none;
}

.QuotePropContainer a:hover {
	color: #bd1a45;
	transition: 0.4s;
}
