.AboutYourCarContent {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	margin: 3%;
	justify-content: space-around;
	flex-wrap: wrap;
	/* height: 30%; */
}

input,
select {
	/* width: 100%; */
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type="radio"] {
	display: flex;
	flex-direction: row;
	/* width: 5%; */
	justify-content: space-between;
}

.AboutYourCarSideContent {
	display: flex;
	flex-direction: row;
	width: 60%;
	justify-content: space-between;
	margin: auto;
}

.AboutYourCarBottomRightButtons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 5%;
	/* width: 30%; */
	/* justify-content: space-around; */
}

.AboutYourCarBottomRightButtons a {
	text-decoration: none;
	color: white;
	text-align: center;
}

.AboutYourCarBottomRightButtons a:hover {
	color: #bd1a45;
	transition: 0.4s;
}

.QuoteTandC {
	background-color: #cacaca;
	text-align: center;
	font-weight: normal;
	width: 80%;
	align-self: center;
	color: #716f6f;
	padding: 2%;
}

.QuotePropContainerv2 {
	/* height: 270px; */
	/* width: 300px; */
	background-color: white;
	/* color: white; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	border-radius: 16px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	/* font-weight: bold; */
}

.QuoteBigContainer {
	background-color: #c4c4c4;
	padding: 2%;
	width: 85%;
	/* height: 100%; */
	margin: auto;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
}

.QuotePropContainerBigMain {
	height: 50%;
	width: 30%;
	background-color: white;
	/* color: white; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	border-radius: 16px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	/* font-weight: bold; */
	margin: auto;
}
